*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}


#main{
    height: 100%;
    width: 100%;
    background-color: rgb(1, 0, 0);
    display: flex;
}

#part1{
    height: 100%;
    width: 45%;
}

#part2{
    height: 100%;
    width: 70%;
    background-color: rgb(0, 153, 255);
    background-image: url(https://images.unsplash.com/photo-1610487628115-c2bb7e7259dc?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTEwfHxqb2tlcnxlbnwwfHwwfHx8MA%3D%3D);
    background-size: cover;
    background-position: center;
}

#overlay{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.023);
}

#part3{
    height: 100%;
    width: 16%;
}

#text-div{
    position: absolute;
    width: 400px;
    left: 3%;
    top: 40%;
    transform: translate(0,-50%);
    font-size: 30px;
    font-family:cursive ;  /* style of font  */ 
    font-weight: 1000; /* thikness of font */
    line-height: 78px; 
    color: rgb(216, 221, 225);
}

#text h1 span::after{
    content: "";
    position: absolute;
    left: 4%;
    height: 100%;
    width: 100%;
    background: black;
    border-left: 2px solid rgb(3, 3, 3);
    animation: typing 2000ms steps(10) infinite;
}

@keyframes typing{
    100%{
        left: 100%;
        margin:0 -30px 0 35px;
    }
}

#text h1 span{
    position: relative;
}



#small-img-div{
    height: 350px;
    width: 250px;
    top: 40%;
    right: 3.5%;
    position: absolute; 
    background-image: url(https://w0.peakpx.com/wallpaper/626/530/HD-wallpaper-jocker-attitude-jockersmoking-joker-smoking-thumbnail.jpg);
    border-radius: 30px;
    transition: 450ms;
}

#small-img-div:hover{
    height: 415px;
    width: 350px;
    animation-play-state:running;
    background-image: url(https://w0.peakpx.com/wallpaper/955/942/HD-wallpaper-responsible-attitude-attitude-quote-life-quote-love-quote-true-saying-thumbnail.jpg);
    transition: 450ms;
}

